.box
{
    height:60px;
    width:60px;
    text-align:center;
}

#board
{
    width:60%;
    height: 200px;
    float:left;
    margin:20px 0px;
}

#rules
{
    width:30%;
    height: 200px;
    float:left;
    margin:20px 0px;
}

button
{
    display: block;
    margin: 0 auto;
}

p
{
    text-align:center;
}

div
{
    text-align:center;
}

.scores
{
    margin-left:130px;
    width:16%;
    float:left;
}