.box
{
    height:30px;
    width:30px;
    text-align:center;
}

button
{
    display: block;
    margin: 0 auto;
}

div
{
    text-align:center;
}

.scores
{
    margin-left:190px;
    width:20%;
    float:left;
}