table,th,td
{
    margin-left:auto;
    margin-right:auto;
    border: 1px solid black;
}

.box
{
    height:60px;
    width:60px;
    text-align:center;
}

#board
{
    width:60%;
    height: 200px;
    float:left;
    margin:20px 0px;
}

#currentPlayer
{
    color:green;
}

#rules
{
    width:30%;
    height: 200px;
    float:left;
    margin:20px 0px;
}

button
{
    display: block;
    margin: 0 auto;
}

p
{
    text-align:center;
}

div
{
    text-align:center;
}

#status
{
    color:red;
}

.scores
{
    margin-left:130px;
    width:16%;
    float:left;
}

.RulesList
{
    border-style: solid;
}